[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
segment-anything = {git = "https://github.com/facebookresearch/segment-anything.git"}
ipykernel = "*"
ultralytics = "*"

[dev-packages]

[requires]
python_version = "3.13"
