{% extends "base.html" %}

{% block title %}About us{% endblock title %}

{% block body %}
<h1 class="title">About us</h1>

<div class="container text-justified">
<p>Somos 4 estudiantes de tercer curso del Grado de Ciencia e Ingeniería de Datos que decidimos apuntarnos al reto de HackUDC.</p>

<p>
    Cada uno tuvo sus ideas y trabajó todo lo posible para llevarlas a cabo y que salieran adelante hasta el proyecto final.
    <br>
    Aunque no todo lo que planeamos terminó siendo posible, estamos orgullosos de lo que hemos conseguido.
</p>

<p>
    Nuestro propósito principal fue siempre poner en práctica algunas de los conocimientos aprendidos en el grado hasta este momento, como
    por ejemplo el uso de bases de datos, el desarrollo web, el uso de APIs, etc.
    <br>
    Junto a técnicas de análisis de datos como los modelos de regresión, clasificación, y, en menor medida, RRNNAA.
</p>

<div>
    Algunas de nuestras ideas resultaron no ser posibles por distintos motivos:
    <ul>
        <li>Pensábamos obtener información acerca de las emisiones de CO2 por kWh generado para así poder calcular la huella de carbono.
            <br>
            Finalmente no fue posible debido a problemas con la API de la que pensábamos obtener los datos.
        </li>
        <li>Pensamos en realizar modelos de regresión con los datos de consumo de energía y su precios.
            <br>
            Más adelante nos dimos cuenta de que los datos no eran suficientemente buenos para realizar un modelo de regresión.
        </li>
    </ul>
</div>
<h2>Nosotros:</h2>

<p>
    Pablo Fernández:
    <br>
    ...
</p>
<p>
    Xoel Maestu:
    <br>
    ...
</p>
<p>
    Claudia Mahía:
    <br>
    ...
</p>
<p>
    Lúa Rico:
    <br>
    ...
</p>

<h2>Recursos de terceros empleados</h2>
<ul>
    <li>Lucide icons</li>
    <li>Bootstrap</li>
    <li>HTMX</li>
    <li>Chart.js</li>
    <li>Unsplash</li>
</ul>
    </div>

{% endblock body %}
